.herrohat-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .herrohat-image {
    width: 100%
  }
  
  .herrohat-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    text-align: center;
  }
  