.header-container {
  display: flex;
  flex-direction: column; /* Dàn theo chiều dọc */
  height: 100vh; /* Chiều cao full trang */
  width: 20%; /* Header chiếm 20% chiều ngang */
  background-color: #ebe5e5;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto; /* Cuộn nếu nội dung quá dài */
}
